*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
transition:.4s;
}

header{
position:fixed;
width:100%;
background:#111827;
padding:20px;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
width:90%;
margin:auto;
}

.logo{
color:#38bdf8;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin:15px;
}

nav ul li a{
text-decoration:none;
color:white;
}

.hero{
height:100vh;
display:flex;
justify-content:space-around;
align-items:center;
padding-top:80px;
}

.hero img{
width:300px;
border-radius:50%;
border:5px solid cyan;
animation:float 3s infinite;
}

@keyframes float{

50%{
transform:translateY(-15px);
}

}

.btn{
background:cyan;
padding:12px 30px;
text-decoration:none;
color:black;
display:inline-block;
margin-top:20px;
font-weight:bold;
border-radius:30px;
}

section{
padding:100px 10%;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:#1e293b;
padding:30px;
border-radius:10px;
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

.bar{
height:12px;
background:#444;
border-radius:20px;
}

.fill{
height:100%;
background:cyan;
border-radius:20px;
}

.html{
width:95%;
}

.css{
width:90%;
}

.js{
width:80%;
}

.python{
width:85%;
}

form{
display:flex;
flex-direction:column;
}

input,textarea{
margin:15px 0;
padding:15px;
border:none;
border-radius:8px;
}

button{
padding:15px;
background:cyan;
border:none;
font-size:18px;
cursor:pointer;
}

footer{
text-align:center;
padding:30px;
background:#111827;
}

.light{
background:white;
color:black;
}

.light header{
background:#f3f3f3;
}

.light .card{
background:#ddd;
}
